<div class="artigos-busca">
  <form #buscaForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="nome">Nome do autor</label>
        <input type="text" class="form-control" id="nome" [(ngModel)]="pesquisa.autor" name="autor">
      </div>
      <div class="form-group col-md-3">
        <label for="descricao">Categoria</label>
        <select (change)="selecionaCategoria($event)" name="categoria">
          <option value=""> --- </option>
          <option [value]="categoria.id" *ngFor="let categoria of categorias"> {{categoria.nome}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="nome">Título ou Conteúdo</label>
        <input type="text" class="form-control" id="conteudo" [(ngModel)]="pesquisa.conteudo" name="conteudo">
      </div>
      <div class="form-group col-md-1">
        <button (click)="pesquisar(pesquisa)" class="btn btn-primary">Buscar</button>
      </div>
    </div>
  </form>
</div>
<div class="artigos-timeline">
  <div *ngFor="let a of artigos" class="row">
    <h2>{{ a.titulo }} </h2> <h6>{{ a.dataCriacao }}</h6>
    <ul><li *ngFor="let categoria of a.categorias">{{ categoria.nome }}</li></ul>
    <div [innerHTML]="a.conteudo"></div>
    <p><span>{{ a.autor.nome }} - {{ a.autor.email }}</span></p>
  </div>
</div>
<div class="artigos-paginacao">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let pagina of paginador.totalPaginas; let i = index" class="page-item">
        <a class="page-link" href="#">{{i+1}}</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
