<div class="artigos-busca">
  <form #buscaForm="ngForm">
    <div class="form-row pesquisa-artigos">
      <div class="form-group col-md-3">
        <label for="nome">Nome do autor</label>
        <input type="text" class="form-control" id="nome" [(ngModel)]="pesquisa.autor" name="autor">
      </div>
      <div class="form-group col-md-3">
        <label for="categoria">Categoria</label>
        <select class="custom-select" (change)="selecionaCategoria($event)" name="categoria" id="categoria" >
          <option value=""> --- </option>
          <option [value]="categoria.id" *ngFor="let categoria of categorias"> {{categoria.nome}}</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="nome">Título ou Conteúdo</label>
        <input type="text" disabled class="form-control" id="conteudo" [(ngModel)]="pesquisa.conteudo" name="conteudo">
      </div>
      <div class="form-group col-md-1">
        <button (click)="obter_artigos(1)" class="btn btn-primary">Buscar</button>
      </div>
    </div>
  </form>
</div>
<div class="artigos-timeline">
  <div class="row">
    <div *ngFor="let a of artigos" class="col-md-4">
      <div class="row titulo-artigo"><h2><a routerLink="/artigo/{{a.id}}">{{ a.titulo }}</a></h2> <small class="text-muted">{{ a.data_criacao }}</small></div>
      <ul class="list-inline" ><li class="list-inline-item" *ngFor="let categoria of a.categorias">
          <span class="badge badge-light">{{ categoria.nome }}</span></li></ul>
      <div class="conteudo-artigo" [innerHTML]="a.conteudo"></div>
      <p><span>{{ a.autor.nome }} - {{ a.autor.email }}</span></p>
      <p><a class="btn btn-secondary" routerLink="/artigo/{{a.id}}">Leia mais &raquo;</a></p>
    </div>
</div>
<div class="artigos-paginacao">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="!paginador.anterior">
        <a class="page-link" (click)="obter_artigos(paginador.anterior)" href="#" aria-label="Anterior">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let pagina of paginador.totalPaginas; let i = index" class="page-item">
        <a class="page-link" (click)="obter_artigos(i+1)"  href="#">{{i+1}}</a>
      </li>
      <li class="page-item" [class.disabled]="!paginador.proxima">
        <a class="page-link" (click)="obter_artigos(paginador.proxima)" href="#" aria-label="Proxima">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
